body{
background-color: #dfdfdf;

}

/* Estilos personalizados para CodeMirror */
.CodeMirror {
    background-color: #f4f4f4; /* Fondo oscuro */
    color: #000000; /* Fuente brillante */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style:bold;
    border-radius: 10px;
}
.CodeMirror-selected {
    background-color: #44475a !important;
}
.CodeMirror-gutters {
    background-color: #282a36;
    color: #6272a4;
    border-right: 1px solid #44475a;
}
.CodeMirror-linenumber {
    color: #6272a4;
}

/* Estilos personalizados para el área de resultados */
#result {
    background-color: #1e1e1e;
    color: #ffcc00; /* Color de fuente brillante */
    font-family: 'Consolas', monospace;
    font-size: 16px;
    border: 1px solid #444444;
    padding: 10px;
    margin-top: 10px;
    margin: auto;
    height: 100px;
    width: 100%;
    overflow-y: auto;
    white-space: pre;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#loading {
    display: none;
}


.button-act {
  
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-act{
border-radius: 0px 10px 10px 0px;
height: 30px;
width: 30px;
background-color: #6272a4;
color: rgb(0, 0, 0);
outline: none;
border: none;
transition: 0.5s;
margin-bottom: 10px;

}

.btn-admin{
    border-radius: 0px 10px 10px 0px;
    background-color: #6272a4;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.card-body{

    
}

.button-act:hover{
    border-radius: 0px 10px 10px 0px;
    background-color: #7392f1;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
 
    

}



#run{

margin-left: 10px;
border-radius: 10px !important;

}

.selector{
    display: flex;
justify-content: flex-end;
height: 30px;
margin-bottom: 10px;
}	

.save{

margin-right: 10px !important;
border-radius: 10px !important;

}

#selection{
width:25%;
}

@media (max-width: 600px) {
    #selection {
        width: 60%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #selection {
        width: 40%;
    }
}

@media (min-width: 1025px) {
    #selection {
        width: 25%;
    }
}